<div class="container-fluid" id="list1">
<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <!-- <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>-->
    
      <table class="table boarder-primary" style="text-align: center;">
        <thead>
          <th>Item Name</th>
          &nbsp;&nbsp;
          <th>Amount</th>
        </thead>
        <tbody>
          <tr
          style="cursor: pointer;"
          *ngFor="let ingredient of ingredients; let i = index"
          (click)="onEditItem(i)">
            <td>{{  ingredient.name }}</td>
            &nbsp;&nbsp;
            <td>{{ ingredient.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
