<div class="container-fluid" id="list2" >
    <table class="table table-bordered border-primary" >
        <thead style="text-align: center;">
            <th>S.No</th>
            <th>Recipe Name</th>
            <th>Recipe</th>
        </thead>
        <tbody style="text-align: center;">
            <tr *ngFor="let rlist of rlist">
                <td>{{rlist.sno}}</td>
                <td>{{rlist.name}}</td>
                <td><img src="{{rlist.img}}" style="width: 200px; height: 100px;"></td>
            </tr>
        </tbody>
    </table>
</div>
